{% extends 'admin-kjj/base.html' %}

{% load static %}

{% block title %}Barcodes{% endblock %}

{% block styles %}
<style>
.select2-selection__arrow{
    display: none !important;
}
.select2-selection__rendered{
    background: rgb(55 65 81/var(--tw-bg-opacity)) !important;
    border: none !important;
    color: white !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 26px !important;
}

.select2-container--default .select2-selection--single {
    background-color: rgb(55 65 81/var(--tw-bg-opacity)) !important;
    border: none !important;
    border-radius: 0px;
}

.select2-container--default .select2-selection--multiple {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    cursor: pointer !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: orange !important;
    border: none !important;
    color: black !important;
    font-weight: 700 !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: 1px solid black;
    color: black;
}

.select2-container--default .select2-search--inline .select2-search__field {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: orange !important;
    color: black !important;
}

.select2-container--default .select2-results>.select2-results__options {
    background: #111827 !important;
    color: white !important;
}

.select2-dropdown {
    background-color: #111827 !important;
    border: 1px solid orange !important;
    border-top: none !important;
    border-radius: 0px !important;
}

.select2-search__field{
    background: rgb(55 65 81/var(--tw-bg-opacity)) !important;
    color: white !important;
}

.select2-container--default .select2-results__option--selected {
    background-color: rgb(55 65 81/var(--tw-bg-opacity)) !important;
}
</style>
{% endblock %}

{% block content %}
<div class="my-5">
    <div class="mb-2">
        <caption class="p-5 text-lg text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            <span class="font-semibold">Manage Barcodes</span>
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                Browse existing barcodes and manage them here.
            </p>
        </caption>
    </div>
    <div class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 ">
        <div>
            <button id="add-barcode-button" class="inline-flex items-center text-gray-500 bg-white hover:bg-[#D18700] font-medium rounded-md text-sm px-3 py-1.5 dark:bg-[orange] dark:text-black" type="button">
                <i class="fa-solid fa-plus mr-1"></i> Add Barcode
            </button>
        </div>
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                <i class="fa-solid fa-magnifying-glass w-4 h-4 text-gray-500 dark:text-gray-400"></i>
            </div>
            <input type="text" id="table-search" class="table-search block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mr-2" placeholder="Search for barcodes">
        </div>
    </div>
    <div class="overflow-hidden">
        <div class="relative overflow-x-auto bg-gray-800 rounded-lg p-3">
            <table id="barcode-table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            #
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Barcode
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Product
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody class="barcodes-tbody">
                    {% for barcode in barcodes %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 barcode-row-{{ barcode.id }}">
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange] barcode-index">
                                {{ forloop.counter }}
                            </span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange] barcode-name">
                                {{ barcode.barcode }}
                            </span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange] barcode-product">
                                {{ barcode.product.name }}
                            </span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange]">
                                <a class="font-medium text-blue-600 dark:text-[orange] hover:text-[#D18700] cursor-pointer button-update-barcode" data-barcode-id="{{ barcode.id }}" data-barcode-name="{{ barcode.barcode }}">
                                    <i class="fa-solid fa-gear"></i>
                                </a>
                                <a class="font-medium text-blue-600 dark:text-[orange] hover:text-[#D18700] ml-1 cursor-pointer button-delete-barcode" data-barcode-id="{{ barcode.id }}" data-barcode-name="{{ barcode.barcode }}" data-product-id="{{ barcode.product.id }}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="add-barcode-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow-lg dark:bg-gray-800">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Add Barcode
                </h3>
                <button type="button" class="close-modal-button text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <i class="fa-solid fa-x"></i>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <form class="p-4 md:p-5" id="form-add-barcode">
                {% csrf_token %}
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="add-product" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Product
                        </label>
                        <select name="product" id="add-product" required>
                            <option value="" selected disabled>Select Product</option>
                            {% for product in products %}
                            <option value="{{ product.id }}">{{ product.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-span-2">
                        <label for="add-barcode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Barcode
                        </label>
                        <input type="text" name="barcode" id="add-barcode" autocomplete="off" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-700 dark:text-white" required>
                    </div>
                </div>
                <button type="submit" class="text-black inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-[orange] font-medium rounded-md text-sm px-5 py-2.5 text-center dark:bg-[orange] dark:hover:bg-[#D18700]">
                    <i class="fa-solid fa-plus me-1 -ms-1 w-5 h-5"></i>
                    Submit New Barcode
                </button>
                <div class="relative overflow-x-auto bg-gray-900 rounded-lg p-3 mt-2 max-h-80">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 submitted-barcodes">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th class="px-6 py-4 whitespace-nowrap">Product</th>
                                <th class="px-6 py-4 whitespace-nowrap">Barcode</th>
                            </tr>
                        </thead>
                        <tbody class="submitted-barcodes-tbody">
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div> 

<div id="update-barcode-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow-lg dark:bg-gray-800">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Update Product Type
                </h3>
                <button type="button" class="close-modal-button text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <i class="fa-solid fa-x"></i>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <form class="p-4 md:p-5" id="form-update-product-type">
                {% csrf_token %}
                <input type="hidden" name="product-type-id" id="update-product-type-id">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="update-product-type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Name
                        </label>
                        <input type="text" name="product-type" id="update-product-type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-700 dark:text-white" required>
                    </div>
                </div>
                <button type="submit" class="text-black inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-[orange] font-medium rounded-md text-sm px-5 py-2.5 text-center dark:bg-[orange] dark:hover:bg-[#D18700]">
                    <i class="fa-solid fa-plus me-1 -ms-1 w-5 h-5"></i>
                    Update Product Type
                </button>
            </form>
        </div>
    </div>
</div> 
{% endblock %}

{% block scripts %}
<script>
var updateModal = null,
    addModal = null;

function addBarcodeByURL(){
    var url = window.location.href;
    var urlParams = new URLSearchParams(window.location.search);
    var product = urlParams.get('product');

    if(product){
        addModal.show();
        $("#add-product").val(product).trigger('change');
    }

    window.history.replaceState({}, document.title, window.location.pathname);
}

$(document).ready(function() {
    setupTableSearch('barcode-table', 'table-search');
    updateModal = initializeModal("#update-barcode-modal");
    addModal = initializeModal("#add-barcode-modal");

    $("#add-product").select2({
        placeholder: "Select a product",
        allowClear: true,
    });
   
    $(".select2-container").addClass("bg-gray-50");
    $(".select2-container").addClass("border");
    $(".select2-container").addClass("border-gray-300");
    $(".select2-container").addClass("text-gray-900");
    $(".select2-container").addClass("text-sm");
    $(".select2-container").addClass("rounded-lg");
    $(".select2-container").addClass("focus:ring-gray-700");
    $(".select2-container").addClass("block");
    $(".select2-container").addClass("w-full");
    $(".select2-container").addClass("p-2.5");
    $(".select2-container").addClass("dark:bg-gray-700");
    $(".select2-container").addClass("dark:border-gray-700");
    $(".select2-container").addClass("dark:placeholder-gray-700");
    $(".select2-container").addClass("dark:text-white");

    addBarcodeByURL();
});

$(document).on('click', '#add-barcode-button', function() {
    addModal.show();
    $("#add-barcode").focus();
    $("#add-barcode").val("");
    $(".submitted-barcodes-tbody").empty();

});

$(document).on('change', '#add-product', function() {
    var product = $(this).val();
    if (product) {
        $("#add-barcode").focus();
    }
});

$(document).on('submit', '#form-add-barcode', function(e) {
    e.preventDefault();
    var form = $(this);
    var data = form.serialize();

    axios.post("{% url 'add-barcode' %}", data)
        .then(function (response) {

            if(response.data.product_exists === true){
                showError(response.data.message);
                return;
            }

            if(response.data.success === true) {
                const data = response.data.data;

                $(".submitted-barcodes-tbody").prepend(`
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange]">
                                ${data.product}
                            </span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange]">
                                ${data.barcode}
                            </span>
                        </td>
                    </tr>
                `);

                $(".barcodes-tbody").prepend(`
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 barcode-row-${data.id}">
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange] barcode-index">
                                ${$(".barcode-row").length + 1}
                            </span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange] barcode-name">
                                ${data.barcode}
                            </span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange] barcode-product">
                                ${data.product}
                            </span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange]">
                                <a class="font-medium text-blue-600 dark:text-[orange] hover:text-[#D18700] cursor-pointer button-update-barcode" data-barcode-id="${data.id}" data-barcode-name="${data.barcode}">
                                    <i class="fa-solid fa-gear"></i>
                                </a>
                                <a class="font-medium text-blue-600 dark:text-[orange] hover:text-[#D18700] ml-1 cursor-pointer button-delete-barcode" data-barcode-id="${data.id}" data-barcode-name="${data.barcode}" data-product-id="${data.product_id}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                `);

                $("#add-barcode").val("");
                $("#add-barcode").focus();

                showSuccess(response.data.message);
            }
            else{
                showError(response.data.message);
            }
        })
        .catch(function (error) {
            showError(error.message);
        })
});

// delete and update tomorrow!!!
</script>
{% endblock %}
