{% extends 'admin-kjj/base.html' %}

{% load static %}

{% block title %}Manage Rooms{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="my-5">
    <div class="mb-2">
        <caption class="p-5 text-lg text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            <span class="font-semibold">Manage Rooms</span>
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                Browse existing rooms and manage them here.
            </p>
        </caption>
    </div>
    <div class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 ">
        <div>
            <button id="add-room-button" class="inline-flex items-center text-gray-500 bg-white hover:bg-[#D18700] font-medium rounded-md text-sm px-3 py-1.5 dark:bg-[orange] dark:text-black" type="button">
                <i class="fa-solid fa-plus mr-1"></i> Add Room
            </button>
        </div>
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                <i class="fa-solid fa-magnifying-glass w-4 h-4 text-gray-500 dark:text-gray-400"></i>
            </div>
            <input type="text" id="table-search" class="table-search block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mr-2" placeholder="Search for rooms">
        </div>
    </div>
    <div class="overflow-hidden">
        <div class="relative overflow-x-auto bg-gray-800 rounded-lg p-3">
            <table id="room-table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            #
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center">
                                Room
                                <a href="#">
                                    <i class="fa-solid fa-sort ms-1.5"></i>
                                </a>
                            </div>

                        </th>
                        <th scope="col" class="px-6 py-3">
                            Type
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Good&nbsp;For
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Building
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Date Updated
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody class="rooms-tbody">
                    {% for room in rooms %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 room-row-{{ room.id }}">
                        <th class="px-6 py-4 whitespace-nowrap">
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange] room-index">
                                {{ forloop.counter }}
                            </span>
                        </th>
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange] room-number">
                                {{ room.get_room|safe }}
                            </span>
                        </th>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange] room-type-name">
                                {{ room.room_type.name }}
                            </span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange] good-for">
                                {{ room.get_good_for|safe }}
                            </span>  
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">  
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange] building-name">
                                {{ room.building.get_building|safe }}
                            </span>  
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">  
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange] date-updated">
                                {{ room.get_updated_at }}
                            </span>  
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-[orange]">
                                <a class="font-medium text-blue-600 dark:text-[orange] hover:text-[#D18700] cursor-pointer button-update-room" data-room-id="{{ room.id }}" data-room-number="{{ room.room_number }}" data-building="{{ room.building.id }}" data-room-type="{{ room.room_type.id }}" data-good-for="{{ room.good_for }}">
                                    <i class="fa-solid fa-gear"></i>
                                </a>
                                <a class="font-medium text-blue-600 dark:text-[orange] hover:text-[#D18700] ml-1 cursor-pointer button-delete-room" data-room-name="{{ room.get_room|safe }}" data-room-id="{{ room.id }}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="add-room-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow-lg dark:bg-gray-800">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Add Room
                </h3>
                <button type="button" class="close-modal-button text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <i class="fa-solid fa-x"></i>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <form class="p-4 md:p-5" id="form-add-room">
                {% csrf_token %}
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2 sm:col-span-1">
                        <label for="room-number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Room Number
                        </label>
                        <input type="number" name="room-number" id="room-number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-700 dark:text-white" min="0" required>
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="building" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Building
                        </label>
                        <select id="building" name="building" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-700 block w-full p-2.5 dark:text-white dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-700 dark:text-white">
                            <option value="" disabled selected>Select Building</option>
                            {% for building in buildings %}
                            <option value="{{ building.id }}">{{ building.name }}</option>
                            {% endfor %}
                        </select>
                    </div>  
                    <div class="col-span-2 sm:col-span-1">
                        <label for="good-for" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Good For
                        </label>
                        <input type="number" name="good-for" id="good-for" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-700 dark:text-white" min="0" required>
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="room-type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Room Type
                        </label>
                        <select id="room-type" name="room-type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-700 block w-full p-2.5 dark:text-white dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-700 dark:text-white">
                            <option value="" disabled selected>Select Room Type</option>
                            {% for type in room_types%}
                            <option value="{{ type.id }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button type="submit" class="text-black inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-[orange] font-medium rounded-md text-sm px-5 py-2.5 text-center dark:bg-[orange] dark:hover:bg-[#D18700]">
                    <i class="fa-solid fa-plus me-1 -ms-1 w-5 h-5"></i>
                    Submit New Room
                </button>
                <div class="mt-2 table-room-type-price-wrapper hidden">
                    <div class="relative overflow-x-auto rounded-md shadow">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-900 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Hour
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Fee
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="room-type-fee-tbody">
                            </tbody>
                        </table>
                    </div>                    
                </div>
            </form>
        </div>
    </div>
</div> 

<div id="update-room-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow-lg dark:bg-gray-800">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Update Room
                </h3>
                <button type="button" class="close-modal-button text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <i class="fa-solid fa-x"></i>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <form class="p-4 md:p-5" id="form-update-form">
                {% csrf_token %}
                <input type="hidden" name="room-id" id="room-id-update" required>
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2 sm:col-span-1">
                        <label for="room-number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Room Number
                        </label>
                        <input type="number" name="room-number" id="room-number-update" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-700 dark:text-white" min="0" required>
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="building" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Building
                        </label>
                        <select id="building-update" name="building" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-700 block w-full p-2.5 dark:text-white dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-700 dark:text-white">
                            <option value="" disabled selected>Select Building</option>
                            {% for building in buildings %}
                            <option value="{{ building.id }}">{{ building.name }}</option>
                            {% endfor %}
                        </select>
                    </div>  
                    <div class="col-span-2 sm:col-span-1">
                        <label for="good-for" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Good For
                        </label>
                        <input type="number" name="good-for" id="good-for-update" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-700 dark:text-white" min="0" required>
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="room-type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Room Type
                        </label>
                        <select id="room-type-update" name="room-type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-700 block w-full p-2.5 dark:text-white dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-700 dark:text-white">
                            <option value="" disabled selected>Select Room Type</option>
                            {% for type in room_types%}
                            <option value="{{ type.id }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button type="submit" class="text-black inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-[orange] font-medium rounded-md text-sm px-5 py-2.5 text-center dark:bg-[orange] dark:hover:bg-[#D18700]">
                    <i class="fa-solid fa-plus me-1 -ms-1 w-5 h-5"></i>
                    Update Room
                </button>
                <div class="mt-2 table-room-type-price-wrapper hidden">
                    <div class="relative overflow-x-auto rounded-md shadow">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-900 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Hour
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Fee
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="room-type-fee-tbody-update">
                            </tbody>
                        </table>
                    </div>                    
                </div>
            </form>
        </div>
    </div>
</div> 

{% endblock %}

{% block scripts %}
<script>
const getRoomTypePricesURL = "{% url 'get-room-type-prices' %}";
const addRoomURL = "{% url 'add-room' %}";
const updateRoomURL = "{% url 'update-room' %}";
const deleteRoomURL = "{% url 'delete-room' %}";
</script>
<script src="{% static 'js/rooms.js' %}"></script>
{% endblock %}
