{% extends 'admin-kjj/base.html' %}

{% block title %}Manage Rooms{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="my-5">
    <div class="relative overflow-x-auto bg-gray-800 rounded-lg p-3">
        <div class="mb-2">
            <caption class="p-5 text-lg text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                <span class="font-semibold">Manage Rooms</span>
                <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                    Browse existing rooms and manage them here.
                </p>
            </caption>
        </div>
        <div class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-800">
            <div>
                <button id="add-room-button" class="inline-flex items-center text-gray-500 bg-white hover:bg-[#D18700] font-medium rounded-md text-sm px-3 py-1.5 dark:bg-[orange] dark:text-black" type="button">
                    <i class="fa-solid fa-plus mr-1"></i> Add Room
                </button>
            </div>
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <i class="fa-solid fa-magnifying-glass w-4 h-4 text-gray-500 dark:text-gray-400"></i>
                </div>
                <input type="text" id="table-search" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mr-2" placeholder="Search for rooms">
            </div>
        </div>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        #
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Room
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Type
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Good&nbsp;For
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Building
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th class="px-6 py-4">
                        {{ forloop.counter }}
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ room.get_room }}
                    </th>
                    <td class="px-6 py-4">
                        {{ room.room_type.name }}
                    </td>
                    <td class="px-6 py-4">
                        {{ room.get_good_for }}
                    </td>
                    <td class="px-6 py-4">
                        {{ room.building.name }}
                    </td>
                    <td class="px-6 py-4">
                        <a class="font-medium text-blue-600 dark:text-[orange] hover:text-[#D18700] cursor-pointer" data-tooltip-target="tooltip-update-room">
                            <i class="fa-solid fa-gear"></i>
                        </a>
                        <a class="font-medium text-blue-600 dark:text-[orange] hover:text-[#D18700] ml-1 cursor-pointer" data-tooltip-target="tooltip-delete-room">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="tooltip-update-room" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-black transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-[orange]">
    Update Room
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>

<div id="tooltip-delete-room" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-black transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-[orange]">
    Delete Room
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}