<dialog id="error-modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Oops, there was an error...</h3>
        <p class="py-4 modal-body"></p>
        <div class="modal-action">
        <form method="dialog">
            <button class="btn">OK</button>
        </form>
        </div>
    </div>
</dialog>
<dialog id="success-modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Success!</h3>
        <p class="py-4 modal-body"></p>
        <div class="modal-action">
        <form method="dialog">
            <button class="btn">OK</button>
        </form>
        </div>
    </div>
</dialog>