{% with request.resolver_match.url_name as current_url_name %}
<aside id="separator-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            <li>
                <a href="{% url 'admin-dashboard' %}" class="flex items-center p-2 rounded-md group 
                                                            {% if current_url_name == 'admin-dashboard' %}
                                                                bg-[orange] text-black font-bold
                                                            {% else %}
                                                                text-gray-900 text-white hover:bg-gray-700
                                                            {% endif %}">
                    <i class="fa-solid fa-chart-pie"></i>
                    <span class="ms-3">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'customer-check-in' %}" class="flex items-center p-2 rounded-md group 
                                                            {% if current_url_name == 'customer-check-in' or current_url_name == 'view-check-in-summary' %}
                                                                bg-[orange] text-black font-bold
                                                            {% else %}
                                                                text-gray-900 text-white hover:bg-gray-700
                                                            {% endif %}">
                    <i class="fa-solid fa-person-walking-luggage"></i>
                    <span class="ms-3">Check-In</span>
                </a>
            </li>
            <li>
                <a href="{% url 'store' %}" class="flex items-center p-2 rounded-md group 
                                                            {% if current_url_name == 'store' %}
                                                                bg-[orange] text-black font-bold
                                                            {% else %}
                                                                text-gray-900 text-white hover:bg-gray-700
                                                            {% endif %}">
                    <i class="fa-solid fa-store"></i>
                    <span class="ms-3">Store</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i class="fa-solid fa-dolly"></i>
                    <span class="ms-3">Inventory</span>
                </a>
            </li>
        </ul>
        <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-700">
            <li>
                <a href="{% url 'user-management' %}" class="flex items-center p-2 rounded-md group 
                                                            {% if current_url_name == 'user-management' %}
                                                                bg-[orange] text-black font-bold
                                                            {% else %}
                                                                text-gray-900 text-white hover:bg-gray-700
                                                            {% endif %}">
                    <i class="fa-solid fa-users"></i>
                    <span class="ms-3">Users</span>
                </a>
            </li>
            <li>
                <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-manage" data-collapse-toggle="dropdown-manage" onclick="toggleDropdown(this)">
                    <i class="fa-solid fa-gear text-gray-400"></i>
                    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Manage</span>
                    <i class="fa-solid fa-chevron-down {% if current_url_name != 'manage-rooms' and current_url_name != 'manage-fees' and current_url_name != 'manage-room-types' and current_url_name != 'manage-buildings' %}rotate-90{% endif %} arrow-indicator"></i>
                </button>
                <ul id="dropdown-manage" class="{% if current_url_name != 'manage-rooms' and current_url_name != 'manage-fees' and current_url_name != 'manage-room-types' and current_url_name != 'manage-buildings' %}hidden{% endif %} py-2 space-y-2 border-l border-gray-400">
                    <li>
                        <a href="{% url 'manage-fees' %}" class="flex items-center w-full p-2 transition duration-75 pl-11 group     
                                                                {% if current_url_name == 'manage-fees' %}
                                                                    bg-[orange] text-black font-bold
                                                                {% else %}
                                                                    text-white hover:bg-gray-700
                                                                {% endif %}">
                            Fees
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'manage-room-types' %}"  class="flex items-center w-full p-2 transition duration-75 pl-11 group     
                                                                {% if current_url_name == 'manage-room-types' %}
                                                                    bg-[orange] text-black font-bold
                                                                {% else %}
                                                                    text-white hover:bg-gray-700
                                                                {% endif %}">
                            Room Types
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'manage-buildings' %}" class="flex items-center w-full p-2 transition duration-75 pl-11 group     
                                                                {% if current_url_name == 'manage-buildings' %}
                                                                    bg-[orange] text-black font-bold
                                                                {% else %}
                                                                    text-white hover:bg-gray-700
                                                                {% endif %}">
                            Buildings
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'manage-rooms' %}" class="flex items-center w-full p-2 transition duration-75 pl-11 group     
                                                                {% if current_url_name == 'manage-rooms' %}
                                                                    bg-[orange] text-black font-bold
                                                                {% else %}
                                                                    text-white hover:bg-gray-700
                                                                {% endif %}">
                            Rooms
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center w-full p-2 transition duration-75 pl-11 group     
                                                                {% if current_url_name == '#' %}
                                                                    bg-[orange] text-black font-bold
                                                                {% else %}
                                                                    text-white hover:bg-gray-700
                                                                {% endif %}">
                            Extra Bed Price
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-reports" data-collapse-toggle="dropdown-reports" onclick="toggleDropdown(this)">
                    <i class="fa-solid fa-paperclip"></i>
                    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Reports</span>
                    <i class="fa-solid fa-chevron-down rotate-90 arrow-indicator"></i>
                </button>
                <ul id="dropdown-reports" class="hidden py-2 space-y-2 border-l border-gray-400">
                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                            Sales
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                            Occupancy
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
{% endwith %}