{% extends 'admin-kjj/base.html' %}

{% load static %}

{% block title %}Store{% endblock %}

{% block styles %}
<style>
    .disabled{
        pointer-events: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="my-5">
    <div class="mb-2 text-center">
        <caption class="p-5 text-lg bg-gray-800">
            <span class="font-bold text-2xl text-[orange]">KJJ Inn Store</span>
            <p class="mt-1 text-sm font-normal text-gray-400">
                Fill up the form to encode a purchase
            </p>
        </caption>
    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    <div class="grid gap-1 grid-cols-1 lg:grid-cols-2">
        <div class="p-4 border rounded-lg border-gray-700 ">
            <form method="POST" id="add-to-cart-form">
                {% csrf_token %}
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-1">
                        <label for="add-to-cart-product-barcode" class="block mb-2 font-medium text-gray-900 dark:text-white">
                            Product Barcode
                        </label>
                        <input type="text" name="add-to-cart-product-barcode" id="add-to-cart-product-barcode" autocomplete="off" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-700 dark:text-white" required>
                    </div>
                    <div class="col-span-1">
                        <label for="add-to-cart-quantity-input" class="block mb-2 font-medium text-gray-900 dark:text-white">
                            Quantity
                        </label>
                        <div class="relative flex items-center w-full">
                            <button type="button" id="decrement-button" data-input-counter-decrement="add-to-cart-quantity-input" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg px-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                <i class="fa-solid fa-minus text-gray-900 dark:text-white"></i>
                            </button>
                            <input type="text" id="add-to-cart-quantity-input" name="add-to-cart-quantity-input" value="1" data-input-counter aria-describedby="helper-text-explanation" class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 disabled" required />
                            <button type="button" id="increment-button" data-input-counter-increment="add-to-cart-quantity-input" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg px-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                <i class="fa-solid fa-plus text-gray-900 dark:text-white"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <button type="submit" class="text-white w-full items-center font-bold rounded-md text-sm px-5 py-2.5 text-center bg-gray-700 hover:bg-gray-800 add-to-cart-button">
                    Add To Cart
                </button>
            </form>
        </div>
        <div class="p-4 border rounded-lg border-gray-700">
            <div class="grid gap-4 mb-4 grid-cols-2">
                <div class="col-span-2">
                    <label for="room-number" class="block mb-2 font-medium text-gray-900 dark:text-white">
                        Room Number
                    </label>
                    <select name="room-number" id="room-number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-700 dark:text-white">
                        <option value="" disabled selected>Select Room</option>
                        {% for customer in active_customers %}
                            <option value="{{ customer.id }}">{{ customer.room.get_room_for_dropdown|safe }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-span-1">
                    <div class="flex items-center">
                        <input id="no-room-check-box" name="no-room-check-box" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="no-room-check-box" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">No Room <span class="text-red-500 text-xs">(Walk-In)</span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-4 border rounded-lg border-gray-700">
            <div class="mb-2">
                <strong>Items Cart</strong>
            </div>
            <div class="relative overflow-x-auto rounded-lg">
                <form method="POST" id="to-submit-form">
                    {% csrf_token %}
                    <input type="hidden" name="customer-id" id="customer-id-to-submit" />
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Product
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Quantity
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Price
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Subtotal
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody id="cart-tbody">
        
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="p-4 border rounded-lg border-gray-700">
            <div class="mb-2">
                <strong>Summary</strong>
            </div>
            <div class="grid rounded-lg shadow-sm dark:border-gray-700 md:grid-cols-2 bg-white dark:bg-gray-800">
                <figure class="flex flex-col items-center justify-center p-3 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
                    <blockquote class="max-w-2xl mx-auto">
                        <h3 class="text-sm font-semibold text-gray-400">
                            Total Items
                        </h3>
                        <p class="text-2xl font-bold total-quantity text-green-500">0</p>
                    </blockquote>  
                </figure>
                <figure class="flex flex-col items-center justify-center p-3 text-center bg-white border-b border-gray-200 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700">
                    <blockquote class="max-w-2xl mx-auto">
                        <h3 class="text-sm font-semibold text-gray-400">
                            To Pay
                        </h3>
                        <p class="text-2xl font-bold total-subtotal text-green-500">0</p>
                    </blockquote>
                </figure>
            </div>
            <button type="submit" class="text-white w-full items-center font-bold rounded-b-lg text-sm py-2.5 text-center bg-green-900 hover:bg-green-800 submit-purchase-button">
                SUBMIT PURCHASE
            </button>
        </div>
    </div>
</div> 
<audio id="beep-audio">
    <source src="{% static 'audio/beep.mp3' %}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endblock %}

{% block scripts %}
<script>
const fetchProductURL = "{% url 'fetch-product' %}";
const submitPurchaseURL = "{% url 'submit-purchase' %}";
</script>
<script src="{% static 'js/store.js' %}"></script>
{% endblock %}
