{% extends 'admin-kjj/base.html' %}

{% load static %}

{% block title %}Store{% endblock %}

{% block styles %}
<style>
    .disabled{
        pointer-events: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="my-5">
    <div class="mb-2 text-center">
        <caption class="p-5 text-lg bg-gray-800">
            <span class="font-bold text-2xl text-[orange]">KJJ Inn Store</span>
            <p class="mt-1 text-sm font-normal text-gray-400">
                Fill up the form to encode a purchase
            </p>
        </caption>
    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    <div class="grid gap-1 grid-cols-1 lg:grid-cols-2">
        <div class="p-4 border rounded-lg border-gray-700 ">
            <form method="POST" id="add-to-cart-form">
                {% csrf_token %}
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-1">
                        <label for="add-to-cart-product-barcode" class="block mb-2 font-medium text-gray-900 dark:text-white">
                            Product Barcode
                        </label>
                        <input type="text" name="add-to-cart-product-barcode" id="add-to-cart-product-barcode" autocomplete="off" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-700 dark:text-white" required>
                    </div>
                    <div class="col-span-1">
                        <label for="add-to-cart-quantity-input" class="block mb-2 font-medium text-gray-900 dark:text-white">
                            Quantity
                        </label>
                        <div class="relative flex items-center w-full">
                            <button type="button" id="decrement-button" data-input-counter-decrement="add-to-cart-quantity-input" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg px-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                <i class="fa-solid fa-minus text-gray-900 dark:text-white"></i>
                            </button>
                            <input type="text" id="add-to-cart-quantity-input" name="add-to-cart-quantity-input" value="1" data-input-counter aria-describedby="helper-text-explanation" class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 disabled" required />
                            <button type="button" id="increment-button" data-input-counter-increment="add-to-cart-quantity-input" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg px-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                <i class="fa-solid fa-plus text-gray-900 dark:text-white"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <button type="submit" class="text-white w-full items-center font-bold rounded-md text-sm px-5 py-2.5 text-center bg-gray-700 hover:bg-gray-800 add-to-cart-button">
                    Add To Cart
                </button>
            </form>
        </div>
        <div class="p-4 border rounded-lg border-gray-700">
            <div class="grid gap-4 mb-4 grid-cols-2">
                <div class="col-span-2">
                    <label for="room-number" class="block mb-2 font-medium text-gray-900 dark:text-white">
                        Room Number
                    </label>
                    <select name="room-number" id="room-number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-700 dark:placeholder-gray-700 dark:text-white">
                        <option value="" disabled selected>Select Room</option>
                        {% for customer in active_customers %}
                            <option value="{{ customer.id }}">{{ customer.room.get_room_for_dropdown|safe }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-span-1">
                    <div class="flex items-center">
                        <input id="no-room-check-box" name="no-room-check-box" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="no-room-check-box" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">No Room <span class="text-red-500 text-xs">(Walk-In)</span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-4 border rounded-lg border-gray-700">
            <div class="mb-2">
                <strong>Items Cart</strong>
            </div>
            <div class="relative overflow-x-auto rounded-lg">
                <form method="POST" id="to-submit-form">
                    {% csrf_token %}
                    <input type="hidden" name="customer-id" id="customer-id-to-submit" />
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Product
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Quantity
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Price
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Subtotal
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody id="cart-tbody">
        
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="p-4 border rounded-lg border-gray-700">
            <div class="mb-2">
                <strong>Summary</strong>
            </div>
            <div class="grid rounded-lg shadow-sm dark:border-gray-700 md:grid-cols-2 bg-white dark:bg-gray-800">
                <figure class="flex flex-col items-center justify-center p-3 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
                    <blockquote class="max-w-2xl mx-auto">
                        <h3 class="text-sm font-semibold text-gray-400">
                            Total Items
                        </h3>
                        <p class="text-2xl font-bold total-quantity text-green-500">0</p>
                    </blockquote>  
                </figure>
                <figure class="flex flex-col items-center justify-center p-3 text-center bg-white border-b border-gray-200 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700">
                    <blockquote class="max-w-2xl mx-auto">
                        <h3 class="text-sm font-semibold text-gray-400">
                            To Pay
                        </h3>
                        <p class="text-2xl font-bold total-subtotal text-green-500">0</p>
                    </blockquote>
                </figure>
            </div>
            <button type="submit" class="text-white w-full items-center font-bold rounded-b-lg text-sm py-2.5 text-center bg-green-900 hover:bg-green-800 submit-purchase-button">
                SUBMIT PURCHASE
            </button>
        </div>
    </div>
</div> 
<audio id="beep-audio">
    <source src="{% static 'audio/beep.mp3' %}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
{% endblock %}

{% block scripts %}
<script>
var inCart = [];

function playBeepAudio(){
    var beepAudio = $("#beep-audio")[0];
    beepAudio.pause(); 
    beepAudio.currentTime = 0; 
    beepAudio.play(); 
}

function updateSubtotal(price_unformatted){
    var totalPriceDisplay = 0;
    $(".subtotal-prices").each(function(){
        var price = $(this).text().replace('₱', '').trim();
        
        totalPriceDisplay += parseFloat(price);
    });
    $(".total-subtotal").text(`₱ ${$(".subtotal-prices").length == 0 ? price_unformatted : totalPriceDisplay.toFixed(2)}`);
}

function resetFields(){
    $("#add-to-cart-product-barcode").val('');
    $("#add-to-cart-quantity-input").val(1);
    $("#room-number").val('');
    $("#room-number").trigger('change');
    $("#no-room-check-box").prop('checked', false);
    $("#room-number").prop('disabled', false);
    $("#cart-tbody").empty();
    $(".total-quantity").text(0);
    $(".total-subtotal").text(0);
    inCart = [];
    $("#add-to-cart-product-barcode").focus();
}

function selectCustomerByURL() {
    const urlParams = new URLSearchParams(window.location.search);
    const customerId = urlParams.get('customer');

    if (customerId) {
        const exists = $("#room-number option[value='" + customerId + "']").length > 0;

        if (exists) {
            $("#room-number").val(customerId);
            $("#no-room-check-box").prop('checked', false);
        } else {
            $("#room-number").val('');
            urlParams.delete('customer');
            window.history.replaceState({}, document.title, window.location.pathname);
        }
        $("#room-number").trigger('change');
    }
}

$(document).ready(function(){
    $("#add-to-cart-product-barcode").focus();

    selectCustomerByURL();
})

$(document).on('submit', '#add-to-cart-form', function(e){
    e.preventDefault();
    const form = $(this);
    const formData = form.serialize();

    const productBarcode = $('#add-to-cart-product-barcode').val();
    const quantity = $('#add-to-cart-quantity-input').val();

    axios.get("{% url 'fetch-product' %}", {
        params: {
            product_barcode: productBarcode,
            quantity: quantity,
        }
    })
    .then(function (response) {
        const data = response.data.data;

        if(!response.data.success){
            showError(response.data.message);
            return;
        }

        const currentQuantity = parseInt($(`#product-${data.identifier}`).val());

        if(currentQuantity + parseInt(quantity) > data.stocks){
            showError(`Only ${data.stocks} stocks left for ${data.product_name}`);
            return;
        }

        $(".total-quantity").text(parseInt($(".total-quantity").text()) + parseInt(quantity));
        $(`.subtotal-${data.identifier}`).text(parseFloat($(`#product-${data.identifier}`).val()) * parseFloat(data.price_unformatted));
        updateSubtotal(data.price_unformatted);

        $("#add-to-cart-product-barcode").val('');

        playBeepAudio();

        if(inCart.includes(data.identifier)){
            $(`#product-${data.identifier}`).val(currentQuantity + parseInt(quantity));
            $(`.subtotal-${data.identifier}`).text(`₱ ${parseFloat(parseFloat($(`#product-${data.identifier}`).val()) * parseFloat(data.price_unformatted)).toFixed(2)}`);
            updateSubtotal(data.price_unformatted);
            return;
        }

        $("#cart-tbody").append(`
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <input type="hidden" name="product-identifiers[]" value="${data.identifier}" />
                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                    ${data.product_name}
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        <button id="product-decrement-${data.identifier}" class="inline-flex items-center justify-center p-1 text-sm font-medium h-6 w-6 text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                            <span class="sr-only">Quantity button</span>
                            <i class="fa-solid fa-minus w-3 h-3"></i>
                        </button>
                        <div class="ms-3">
                            <input type="number" id="product-${data.identifier}" name="cart-products-quantity[]" data-input-counter value="${quantity}" class="disabled bg-gray-50 w-14 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1" required />
                        </div>
                        <button id="product-increment-${data.identifier}" class="inline-flex items-center justify-center h-6 w-6 p-1 ms-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                            <span class="sr-only">Quantity button</span>
                            <i class="fa-solid fa-plus w-3 h-3"></i>
                        </button>
                    </div>
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white cart-prices">
                    ${data.price}
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white subtotal-${data.identifier} subtotal-prices">
                    ₱ ${data.subtotal}
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline remove-product-from-cart" data-product-identifer="${data.identifier}">Remove</a>
                </td>
            </tr>
        `);

        updateSubtotal(data.price_unformatted);

        $(`#product-decrement-${data.identifier}`).on('click', function(){
            var currentQuantity = parseInt($(`#product-${data.identifier}`).val());
            if(currentQuantity > 1){
                $(`#product-${data.identifier}`).val(currentQuantity - 1);
                $(".total-quantity").text(parseInt($(".total-quantity").text()) - 1);
                $(`.subtotal-${data.identifier}`).text(`₱ ${parseFloat(parseFloat($(`#product-${data.identifier}`).val()) * parseFloat(data.price_unformatted)).toFixed(2)}`);
                updateSubtotal(data.price_unformatted);
                $("#add-to-cart-product-barcode").focus();
            }
        });

        $(`#product-increment-${data.identifier}`).on('click', function(){
            var currentQuantity = parseInt($(`#product-${data.identifier}`).val());
            if(currentQuantity < data.stocks){
                $(`#product-${data.identifier}`).val(currentQuantity + 1);
                $(".total-quantity").text(parseInt($(".total-quantity").text()) + 1);
                $(`.subtotal-${data.identifier}`).text(`₱ ${parseFloat(parseFloat($(`#product-${data.identifier}`).val()) * parseFloat(data.price_unformatted)).toFixed(2)}`);
                updateSubtotal(data.price_unformatted);
                $("#add-to-cart-product-barcode").focus();
            }
        });
        
        inCart.push(data.identifier);

        showSuccess(`${data.product_name} added to cart`);
    })
    .catch(function (error) {
        showError(error);
    })
})

$(document).on('click', '.remove-product-from-cart', function(e){
    e.preventDefault();
    const identifier = $(this).data('product-identifer');
    inCart = inCart.filter(item => item !== identifier);
    $(".total-quantity").text(parseInt($(".total-quantity").text()) - parseInt($(`#product-${identifier}`).val()));
    $(this).closest('tr').remove();
    $("#add-to-cart-product-barcode").focus();
})

$(document).on('click', '#decrement-button', function(){
    const quantity = $(this).val();
    if(quantity < 1){
        $("#add-to-cart-quantity-input").val(1);
    }
    $("#add-to-cart-product-barcode").focus();
})

$(document).on('click', '#increment-button', function(){
    const quantity = $(this).val();
    $("#add-to-cart-product-barcode").focus();
})

$(document).on('change', '#room-number', function(){
    const customerId = $(this).val();
    $("#customer-id-to-submit").val(customerId);
    $("#add-to-cart-product-barcode").focus();
})

$(document).on('click', '#no-room-check-box', function(){
    
    if($(this).is(':checked')){
        $("#room-number").val('');
        $("#room-number").trigger('change');
        $("#room-number").prop('disabled', true);
        $("#customer-id-to-submit").val('walk-in');
    }else{
        $("#room-number").prop('disabled', false);
    }
    $("#add-to-cart-product-barcode").focus();
})

$(document).on('click', '.submit-purchase-button', function(){
    
    if($("#room-number").val() == null && !$("#no-room-check-box").is(':checked')){
        $("#add-to-cart-product-barcode").focus();
        showError("Missing customer or room");
        return;
    }

    if($("#cart-tbody").children().length == 0){
        $("#add-to-cart-product-barcode").focus();
        showError("Your cart is empty");
        return;
    }

    Swal.fire({
        title: "Confirmation",
        html: `<span class="font-semibold text-md">Are you sure you want to submit the purchase?</span>`,
        icon: "warning",
        showDenyButton: true,
        confirmButtonColor: "orange",
        denyButtonColor: "#232323",
        confirmButtonText: "Yes",
        denyButtonText: `No`,
        allowOutsideClick: false,
        animation: true
        }).then((result) => {
        if (result.isConfirmed) {
            $("#to-submit-form").submit();
        }
    });
    
})

$(document).on('submit', '#to-submit-form', function(e){
    e.preventDefault();
    const form = $(this);
    const formData = form.serialize();

    axios.post("{% url 'submit-purchase' %}", formData)
        .then(function (response) {
            const data = response.data;

            if(!data.success){
                showError(data.message);
                return;
            }

            resetFields();

            
            showSuccess(data.message);
            
        })
        .catch(function (error) {
            showError(error.message);
        })
})

$(document).on('click', '.add-to-cart-button', function(){
    $("#add-to-cart-product-barcode").focus();
})

$(document).on('keydown', 'html', function(e){
    $("#add-to-cart-product-barcode").focus();
})
</script>
{% endblock %}
